# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
# gradle

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### IntelliJ ###
.idea
out/

